#loginPage {
  background-repeat: no-repeat;
  background-image: url('../assets/stringLights.jpg');
  background-position: top;
  background-attachment: fixed;
  background-size: 100%;
  height: 1080px;
}
