#root {
  background-repeat: no-repeat;
  background-image: url('../assets/stringLights.jpg');
  background-position: top;
  background-attachment: fixed;
  background-size: 100%;
  align-items: center;
  justify-content: space-between;
  height:90vh;

}

#loginPage{
  margin-top: 80px;
  margin-bottom: 150px;
}
body{
  height: 100vh;
  background-color: #181615;
}

#feedDiv {
  background-color: #eeebe4;
}
