#restaurantCardContainer{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin:auto;
}

#rescards {
  display:flex;
  justify-content: center;
}