#navBarFooter {
  background-color: #181615;
  display: flex;
  justify-content: space-evenly;
  height: 150px;
  margin-top: 10%;
}

#navBarFooterTitle{
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: #76736E;
  
}
