.card{
  text-align: center;
  background-color: #A49790;
  opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
}


#cardTitle{
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  color: #655C58;
} 

#cardText{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #181615;
}
