nav Button {
  background-color: #332F2D;
  color: #e2d9d4;
  border: #332F2D;
  font-family: 'Oswald', sans-serif;
  height: 50px;
  width: 75px;
  padding: 5px;
  transition: all 0.8s ease-in-out;
}

#logoLogin {
  width: 200px;
}


.restedit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height:100%
}

.resttext {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Oswald', sans-serif;
  width: 75%;
  height:100%;
  font-size: 40px;
}

.restvisit{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.restvisits p{
  margin:0;
}

.card-title.h5 {
  font-size:30px;
}

.card-text {
  font-size: 18px;
}

.card-text {
  margin:0;
}

.logincard.card {
  height: 450px;
  margin:auto;
}

.logincard.card .card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.logincard.card button{
  height: 100px;
  width: 200px;
  font-size: 40px;
}