#addDishButton{
  background-color: #332F2D;
  color: #A49790;
  border: #332F2D;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

#addDishButton:hover{
  background-color: #A49790;
  color: #332F2D;
  border: #332F2D;
}
